body {
    margin: 0;
}

#nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(179, 170, 170);
    position: fixed;
    top: 0;
    width: 100%;
}

#nav_bar li {
    float: left;
}

#nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav_bar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: lightgray;
}