body {
    margin: 0;
}

#nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(179, 170, 170);
    position: fixed;
    top: 0;
    width: 100%;
}

#nav_bar li {
    float: left;
}

#nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

#nav_bar li a:hover:not(.active) {
    background-color: rgb(27, 189, 160);
    text-decoration: underline;
}

.active {
    background-color: orange;
}

#row li a[target] {
    background-color: yellow;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 2px;
    padding: 10px;
    font-size: 24px;
    text-shadow: 4CAF50 0 1px;
    cursor: pointer;
    transition-duration: 0.4s;
    /* Green */
}

.button1:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 10px 8px 16px 5px rgba(150, 180, 0, .2);
}

#row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 137, 214);
}

#row li {
    float: left;
}

#row li a {
    text-decoration: none;
    color: rgb(12, 206, 38);
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#row li a:hover:not(.activa) {
    text-decoration: underline;
    background-color: rgb(248, 164, 7);
}

.activa {
    background-color: black;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    background-color: lightgray;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    width: 40%;
    height: 30px;
    margin-top: 5px;
}

input[type="text"]:focus {
    background-color: lightblue;
}